<ng-template #usageTooltipTpl>
  <table>
    <tr>
      <td class="text-left">Used:&nbsp;</td>
      <td class="text-right"><strong *ngIf="(totalAmount > 0); else usedBytesTpl"> {{ usedAmount | dimless }}</strong>
        <ng-template #usedBytesTpl>
          {{ usedBytes | dimlessBinary }}
        </ng-template>
      </td>
    </tr>
    <tr>
      <td class="text-left">Free:&nbsp;</td>
      <td class="text-right"><strong *ngIf="(totalAmount > 0); else freeBytesTpl"> {{ freeAmount | dimless }}</strong>
        <ng-template #freeBytesTpl>
          {{ freeBytes | dimlessBinary }}
        </ng-template>
      </td>
    </tr>
  </table>
</ng-template>

<div class="progress"
     data-placement="left"
     [ngbTooltip]="usageTooltipTpl">
  <div class="progress-bar bg-info"
       role="progressbar"
       [style.width]="usedPercentage + '%'">
    <span>{{ usedPercentage }}%</span>
  </div>
  <div class="progress-bar bg-freespace"
       role="progressbar"
       [style.width]="freePercentage + '%'">
  </div>
</div>
