<div *ngFor="let osd of selected">
  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{ osd.hostname + "_" + osd.id }}
    </h3>
  </div>
  <div class="panel-body" *ngIf="osd.loaded">
    <div class="row">
      <div class="col-md-6">
        <h4>Writes</h4>
        <cd-osd-performance-histogram [histogram]="osd.opWLatencyInBytesHistogram"></cd-osd-performance-histogram>
      </div>
      <div class="col-md-6">
        <h4>Reads</h4>
        <cd-osd-performance-histogram [histogram]="osd.opRLatencyOutBytesHistogram"></cd-osd-performance-histogram>
      </div>
    </div>
    <dl class="dl-horizontal">
    </dl>

    <h2>Attributes (OSD map)</h2>
    <cd-table [data]="makeData(osd.osd)"
              (fetchData)="pass()"
              [columns]="makeCol">
    </cd-table>

    <h2>Metadata</h2>
    <cd-table [data]="makeData(osd.osd_metadata)"
              (fetchData)="pass()"
              [columns]="makeCol">
    </cd-table>
  </div>
</div>
