<cd-table [data]="dirs"
          [columns]="columns"
          identifier="path"
          [forceIdentifier]="true"
          selectionType="single"
          [autoReload]="false"
          [treeView]="treeView"
          [searchInfo]="searchInfo"
          (fetchData)="updateDirList($event)"
          (updateSelection)="updateSelection($event)">
</cd-table>

<ng-template #quotas
             let-row="row"
             let-value="value">
  <span [innerHTML]="displayQuotas(value)"></span>
</ng-template>

<ng-template #snapshots
             let-row="row"
             let-value="value">
  <span [innerHTML]="displaySnapshots(value)"></span>
</ng-template>
