<div class="col-sm-12 col-lg-6">
  <form name="configForm"
        class="form-horizontal"
        #formDir="ngForm"
        [formGroup]="configForm"
        novalidate>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span><span i18n>Edit</span> {{ configForm.getValue('name') }}</span>
        </h3>
      </div>
      <div class="panel-body">

        <!-- Name -->
        <div class="form-group">
          <label i18n
                 class="control-label col-sm-3">Name
          </label>
          <div class="col-sm-9">
            <p class="form-control-static">{{ configForm.getValue('name') }}</p>
          </div>
        </div>

        <!-- Description -->
        <div class="form-group"
             *ngIf="configForm.getValue('desc')">
          <label i18n
                 class="control-label col-sm-3">Description
          </label>
          <div class="col-sm-9">
            <p class="form-control-static">{{ configForm.getValue('desc') }}</p>
          </div>
        </div>

        <!-- Long description -->
        <div class="form-group"
             *ngIf="configForm.getValue('long_desc')">
          <label i18n
                 class="control-label col-sm-3">Long description
          </label>
          <div class="col-sm-9">
            <p class="form-control-static">{{ configForm.getValue('long_desc') }}</p>
          </div>
        </div>

        <!-- Default -->
        <div class="form-group"
             *ngIf="configForm.getValue('default') !== ''">
          <label i18n
                 class="control-label col-sm-3">Default
          </label>
          <div class="col-sm-9">
            <p class="form-control-static">{{ configForm.getValue('default') }}</p>
          </div>
        </div>

        <!-- Daemon default -->
        <div class="form-group"
             *ngIf="configForm.getValue('daemon_default') !== ''">
          <label i18n
                 class="control-label col-sm-3">Daemon default
          </label>
          <div class="col-sm-9">
            <p class="form-control-static">{{ configForm.getValue('daemon_default') }}</p>
          </div>
        </div>

        <!-- Services -->
        <div class="form-group"
             *ngIf="configForm.getValue('services').length > 0">
          <label i18n
                 class="control-label col-sm-3">Services
          </label>
          <div class="col-sm-9">
            <span *ngFor="let service of configForm.getValue('services')">
              <span class="badge badge-pill badge-primary">{{ service }}</span>
            </span>
          </div>
        </div>

        <!-- Values -->
        <div class="col-sm-12">
          <h2 i18n
              class="page-header">Values</h2>
          <div class="row" *ngFor="let section of availSections">

            <div class="form-group"
                 [ngClass]="{'has-error': configForm.showError(section, formDir)}">
              <label class="control-label col-sm-3"
                     [for]="section"
                     i18n>{{ section }}
              </label>
              <div class="col-sm-9">
                <!-- bool can't be used as dynamically with value validation -->
                <input *ngIf="type === 'bool'"
                       id="{{ section }}"
                       type="checkbox"
                       formControlName="{{ section }}">
                <input *ngIf="type !== 'bool'"
                       class="form-control"
                         [ngClass]="{'form-control': type !== 'bool',
                                     'checkbox checkbox-primary': type === 'bool'}"
                         [type]="getInputType(type)"
                         [id]="section"
                         [placeholder]="makeTypeHumanReadable(type)"
                         [formControlName]="section">
                <span class="help-block"
                      *ngIf="configForm.showError(section, formDir, 'pattern')"
                      i18n>
                  {{getPatternHelpText(type)}}
                </span>
                <span class="help-block"
                      *ngIf="configForm.showError(section, formDir, 'max')"
                      i18n>
                  This has to be lower or equal {{ maxValue }}.
                </span>
                <span class="help-block"
                      *ngIf="configForm.showError(section, formDir, 'min')"
                      i18n>
                  This has to be greater or equal {{ minValue }}.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <div class="panel-footer">
        <div class="button-group text-right">
          <cd-submit-button [form]="formDir"
                            type="button"
                            (submitAction)="submit()">
            <span i18n>Save</span>
          </cd-submit-button>
          <button type="button"
                  class="btn btn-sm btn-default"
                  routerLink="/configuration"
                  i18n>
            Back
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
