<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Cluster</li>
    <li class="breadcrumb-item active">OSDs</li>
  </ol>
</nav>
<cd-table [data]="osds"
          (fetchData)="getOsdList()"
          [columns]="columns"
          selectionType="single"
          (updateSelection)="updateSelection($event)">
  <div class="table-actions">
    <div class="btn-group">
      <button type="button"
              class="btn btn-sm btn-primary">
        <i class="fa fa-fw fa-plus"></i>Create OSD
      </button>
    </div>
    <div class="btn-group">
      <cd-deletion-button #deleteButton
                          metaType="OSD ctl"
                          pattern="ctrl-test"
                          (toggleDeletion)="fakeDeleteController()">
        The spinner is handled by your controller if you have use the modal as ViewChild in order to use it's functions
        to stop the spinner or close the dialog.
      </cd-deletion-button>
    </div>
    <div class="btn-group">
      <cd-deletion-button metaType="OSD"
                          [deletionObserver]="fakeDelete()"
                          pattern="modal-test">
        The spinner is handled by the modal if your given deletion function returns a Observable.
      </cd-deletion-button>
    </div>
  </div>
  <cd-osd-details cdTableDetail
                  [selection]="selection">
  </cd-osd-details>
</cd-table>

<ng-template #statusColor
             let-value="value">
  <span *ngFor="let state of value; last as last">
    <span [class.text-success]="'up' === state || 'in' === state"
          [class.text-warning]="'down' === state || 'out' === state">
      {{ state }}</span><span *ngIf="!last">, </span>
    <!-- Has to be on the same line to prevent a space between state and comma. -->
  </span>
</ng-template>

<ng-template #osdUsageTpl
             let-row="row">
  <cd-usage-bar [totalBytes]="row.stats.stat_bytes" [usedBytes]="row.stats.stat_bytes_used"></cd-usage-bar>
</ng-template>
