<cd-user-tabs></cd-user-tabs>

<cd-table [data]="roles"
          columnMode="flex"
          [columns]="columns"
          identifier="name"
          selectionType="single"
          (fetchData)="getRoles()">
  <cd-table-actions class="table-actions"
                    [permission]="permission"
                    [tableActions]="tableActions">
  </cd-table-actions>
  <cd-role-details cdTableDetail
                   [selection]="selection"
                   [scopes]="scopes">
  </cd-role-details>
</cd-table>
