<h1>Use age of modal deletion component</h1>
<p></p>
<cd-deletion-modal pattern="delete-this" metaType="NoDescription" (toggleDeletion)="deleteAnything()">
</cd-deletion-modal>
<p></p>
<cd-deletion-modal pattern="charlie" metaType="Unicorn" (toggleDeletion)="deleteAnything()">
  <p>BLUE UNICORN</p>
  <dl>
    <dd>Hey, Charlie. Hey Charlie, wake up!</dd>
  </dl>
  <p>PINK UNICORN</p>
  <dl>
    <dd>Yeah Charlie. You silly sleepy-head, wake up.</dd>
  </dl>
  <p>(Charlie wakes up and looks at the two)</p>
  <p>CHARLIE THE UNICORN - Groans</p>
  <dl>
    <dd>Oh God, you guys. This'd better be pretty freaking important. Is the meadow on fire?</dd>
  </dl>
</cd-deletion-modal>
<p></p>
<h3>Called deletion method {{ times }}</h3>
