<button type="button"
        [class]="btnClasses"
        (click)="showModal(deletionModal)">
  <i class="fa fa-fw fa-trash-o"></i>
  <ng-container *ngTemplateOutlet="deletionHeading"></ng-container>
</button>

<ng-template #deletionModal>
  <cd-modal [modalRef]="bsModalRef"
            #modal>
    <ng-container class="modal-title">
      <ng-container *ngTemplateOutlet="deletionHeading"></ng-container>
    </ng-container>

    <ng-container class="modal-content">
      <form name="deletionForm"
            #formDir="ngForm"
            [formGroup]="deletionForm"
            novalidate>
        <div class="modal-body">
          <ng-content></ng-content>

          <p>
            <ng-container i18n>
              To confirm the deletion, enter
            </ng-container>
            <kbd>{{ pattern }}</kbd>
            <ng-container i18n>
              and click on
            </ng-container>
            <kbd>
              <ng-container *ngTemplateOutlet="deletionHeading"></ng-container>
            </kbd>.
          </p>
          <div class="form-group"
               [ngClass]="{'has-error': invalidControl(confirmation)}">
            <input type="text"
                   class="form-control"
                   [placeholder]="pattern"
                   autocomplete="off"
                   [formControl]="confirmation"
                   name="confirmation"
                   id="confirmation"
                   formControlName="confirmation"
                   autofocus>
            <span class="help-block"
                  *ngIf="invalidControl(confirmation, 'required')"
                  i18n>
              This field is required
            </span>
            <span class="help-block"
                  *ngIf="invalidControl(confirmation, 'pattern')">
              '{{ confirmation.value }}'
              <span i18n>doesn't match</span>
              '{{ pattern }}'
            </span>
          </div>
        </div>

        <div class="modal-footer">

          <cd-submit-button #submitButton
                            [form]="deletionForm"
                            (submitAction)="deletionCall()">
            <ng-container *ngTemplateOutlet="deletionHeading"></ng-container>
          </cd-submit-button>

          <button class="btn btn-link btn-sm"
                  (click)="bsModalRef.hide()"
                  i18n>
            Cancel
          </button>
        </div>
      </form>
    </ng-container>
  </cd-modal>
</ng-template>

<ng-template #deletionHeading>
  <ng-container i18n>
    Delete
  </ng-container>
  {{ metaType }}
</ng-template>
